@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Epilogue:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Epilogue', sans-serif;
}

/* html, body {
    height: 100%;
} */

body {
    min-height: 100vh;
}

.main-container {
    position: relative;
    background: hsl(0, 0%, 98%);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.dark-filter {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 100;
    background: #000;
}

/*HEADER*/

/* navigation */

.header {
    width: 100%;
    background: transparent;
    height: 10%;

    display: flex;
    align-items: center;
}
.navigation-container {
    background: transparent;
    width: 100%;
    /* height: 100vh; */

    display: flex;
    align-items: center;

    z-index: 10000;

}

.navigation-container ul li {
    list-style: none;
}

.navigation-container a {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
    color: #000;
}

.navigation-container a:hover {
    opacity: 1;
}

.navigation-container img:hover {
    opacity: 1;
    cursor: pointer;
    color: #000;
}

/*logo*/

.logo {

    font-size: 30px;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0 20px;

}

.logo:hover {
    cursor: pointer;
}

/*main navigation*/
/* 
.nav-menu {
    margin-left: 40px;
   
} */

.nav-item {
    margin-left: 25px;
    display: inline-block;
    position: relative;
}

.drop-content {
    position: absolute;
    background-color: #fff;
    padding: 10px 0px 10px 15px;
    border-radius:10px;
    box-shadow: -4px 5px 9px 0px #ddd;
    top: 30px;
}

.drop-features {
    display: none;
    width: 120px;
    left: -80%;
}

.drop-features div {
    width: 20px;
}

.drop-company {

    display: none;
    width: 100px;
    left: 0;
}

.drop-content li  {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.drop-content a {
    margin-left: 10px;
}

.user-nav {
    
    margin: 0 20px 0 auto;
    
    
}

/*event classes*/

.active {
    display: block;
}

.focus {
    color: #000 !important;
    opacity: 1 !important;
}

/* user nav */

.user-nav li {
    margin-left: 40px;
    display: inline-block;
}

.user-nav li:last-child {
    border: 1px solid #656565;
    padding: 10px 20px;
    border-radius: 10px;
}

.user-nav li:last-child:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.nav-hamburger-menu {
    position: absolute;
    right: 20px;
    display: none;
}

.nav-hamburger-close {
    display: none;
    width: 25px;
}

.nav-hamburger-close img {
    width: 100%;
    object-fit: cover;
}

.nav-hamburger-close img {
    width: 100%;
    object-fit: cover;

}

/* CONTENT */

.content {
    background: transparent;
    height: 80%;
    width: 100%;

    padding: 20px 10% 0px 10%;

    display: flex;
}

.info-content {
    width: 65%;
    padding: 50px 0px 0px 0px;
    position: relative;
}
.info-content h1 {
    margin-bottom: 20px;
    font-size: 70px;
}

.info-content p {
   font-size: 14px;
   opacity: 0.6;
   width: 340px;
   line-height: 20px;
   margin-bottom: 20px;
}

.info-content button {

    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius:10px;
    border: 1px solid #000;
    
 }

 .info-content button:hover {

    background: #fff;
    color: #000;
    cursor: pointer;
    
 }

 .sponsors-container {
    position: absolute;
    top: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
 }

 .sponsors-container .spo-item {
    width: 70px;
 }

 .spo-item img {
    width: 100%;
    object-fit: cover;

 }

 .info-img {
  
    width: 35%;
    height: 100%;
 }

 .img-content-container{
    width: 100%;
    height: 100%;
}

.img-content-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#img_mobile{
    display: none;

}


@media (max-width:950px) {

    .content {
        padding: 20px 5% 0px 5%;
        justify-content: space-between;
    }

    .info-content  {
        width: 60%;
    }

    .info-img {
  
        width: 40%;
    
     }

    .img-content-container {
        display: flex;
        justify-content: flex-end;
    }

    .info-content h1 {
        font-size: 60px;
    }

    .info-content h1 {
        margin-bottom: 40px;
    }

    .info-content p {
        margin-bottom: 40px;
    }

    

}

@media (max-width:900px) {

    .content {
        padding: 20px 2% 0px 2%;
        
    }

    .info-content  {
        width: 55%;
    }

    .info-img {
  
        width: 45%;
    
     }

    .img-content-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .sponsors-container {
        width: 330px;
     }
} 

@media (max-width: 768px) {

    .header  {
        margin-top: 20px;
    }

    .navigation-container .nav-menu {
        display: none;
    }

    .navigation-container .user-nav {
        display: none;
    }


    .nav-hamburger-menu {
        display: block;
    }

    .open .nav-hamburger-menu {
        display: none !important;
    }

    .open .nav-hamburger-close {
        display: block;
        margin: 20px 20px 40px auto;
    }

    .open .nav-menu {
        display: block;
    }

    .open .user-nav {
        display: block;
    }


    .open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .open li {
        display: block;
        margin: 10px 0px 25px 20px;
        
    }

    .open a {
        font-size: 18px;
    }
    .open .user-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .open .user-nav li{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        width: 200px;
        margin-bottom: 20px;
    }

    .open .drop-btn img {
        width: 11px;
        margin-left: 10px;
    }

    .open .drop-content {

        position: static;
        background-color: transparent;
        border-radius: none;
        box-shadow: none;
        top: 30px;
        left: 0;
        width: 150px;
        padding-bottom: 0;
        
    }

    .open .drop-content li {
        display: flex;
        margin-left: 1px;
        
    }
}

@media (max-width:670px) {

    .content {
        gap: 10px;
        
    }

    .info-content {
        padding-top: 30px;
    }

    .info-content h1{
        font-size: 50px;
    }
}

@media (max-width:649px) {

    
    .main-container {
        height: 100%;
    }

    .content {
        flex-direction: column;
        padding: 20px 0px 0px 0px;
    }

    .info-content  {
        order: 2;
        width: 100%;
    }

    .info-img {
        
        order: 1;
        width: 100%;
     }

    #img_mobile {
        display: block;
    }
    #img_desktop {
        display: none;
    }

    .info-content {
        display: flex;
       flex-direction: column;
       align-items: center;
    }

    .info-content h1 {
        
        font-size: 2em;
    }

    .info-content p {
        
        width: 80%;
        text-align: center;
        padding: 0px 5px;
    }

    #line-break {
        display: none;
    }

    .sponsors-container {
        position: static;
        margin: 40px 0px;
        width: 95%;
    }

}